<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 front fill">
      <%= bootstrap_flash %>
      <%= image_tag 'hair2.jpg' %>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <div class="well sidebar-nav">
        <h2 class="text-center">Life is too short for a bad haircut</h2>

        <ul class="nav nav-list">
          <li class="nav-header text-center">View portfolios of skilled stylist in your area</li>
          <li><button class="btn btn-block btn-info"><%= link_to "Join Now!", "/path1"  %></button></li>
          <li><button class="btn btn-block btn-info"><%= link_to "Log In", "/path2"  %></button></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
  </div><!--/row-->
</div>
