// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  position: relative;
  margin-top: -50px;
}

.navbar-brand {
  font-size: 24px;
}

.front {
  height:450px;
}

.fill {
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden
}
.fill img {
    flex-shrink:0;
    max-width:100%;
    max-height:100%
}

h2 {
  font-family: 'Buenard', serif;
}

li {
  font-family: 'Buenard', serif;
  font-size: 18px;
}

.btn {
  margin-top: 10px;
  height: 50px;
  font-size: 20px;
}
